body {
    margin: 0;
    padding: 0;
}

.flex-container {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

#container {
    padding: 8px;
    grid-gap: 1em;
}

.cell {
    border: 1px solid lightsalmon;
    padding: 1.5em;
    display: inline-block;
    margin-right: 2px;
}

.cleargrid {
    font-size: 32px;
    padding: 8px;
    border-radius: 10px;
    background-color:#0a0a23;
    color: white;
}